@media only screen and (min-width: 32.5em) {
    
    h2{
        margin: 15px;
    }
    
    body{
        font-size: 12pt;
    }

    img {
        max-width: 400px;
    }

    p {
        color: purple;
    }

    #grid {
        grid-template-columns: 1fr 1fr;
    }

    article{
        margin:15px;
    }

}