@media only screen and (min-width: 64em){
    .grid-gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #cities{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #hero-image {
        margin: 50px auto;
    }
}