img [data-src] {
    filter: blur(.2em);
}

img {
    filter: blur(0em);
    
}

section {
    display: flex;
    flex-direction: column;
}

main {
    text-align: center;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr;
}
